<div class="container">
	<div class="row">
		<div class="col-md-4">
			Register
		</div>
		<div class="col-md-4">
			Parking Map
		</div>
		<div class="col-md-4">
			News
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img class="sponsors" src="img/bluepoint-logo.jpg">
		</div>
		<div class="col-md-4">
			<img class="sponsors" src="img/boulder-run-logo.jpg">
		</div>
		<div class="col-md-4">
			<img class="sponsors" src="img/great-harvest-logo.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img class="sponsors" src="img/eldorado-logo.jpg">
		</div>
		<div class="col-md-4">
			<img class="sponsors" src="img/logo_cudenver.jpg">
		</div>
		<div class="col-md-4">
			<img class="sponsors" src="img/village-roaster-logo.jpg">
		</div>
	</div>
</div>


